body {
  background-color: #282c34;
}

.name {
  color: #64ffda;
  font-weight: 700;
}

#intro {
  padding-left: 15%;
  padding-top: 18%;
  min-height: 100vh;
}
.text {
  color: #cfd8d6;
  font-weight: 500;
  font-size: 86px;
  font-family: 'NTR', sans-serif;
}

